.wrapper {
  width: 100%;
  margin: 0 20px;
  background-color: white;
  max-width: 1200px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
}

.weather {
  grid-column: 1;
}

.data {
  background-color: #f4f4f4;
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-auto-rows: min-content;
  /* align-items: start; */
  padding: 30px;
}

@media (max-width: 1180px) {
  .data {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 860px) {
  .wrapper {
    display: block;
    margin: 20px;
  }
}

@media (max-width: 600px) {
  .data {
    display: block;
  }
}