.wrapper {
  width: 100%;
  background-color: white;
  max-width: 1200px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
}

.weather {
  grid-column: 1;
}

.data {
  background-color: #f4f4f4;
  grid-column: 2 / 4;
}